

.page-content-container {
    margin-top: 100px;
    padding: 50px;
    background-color: #f0f0f0;
}

.contact-us-container {
    padding: 30px;
    margin:20px 300px;
    background-color: #f0f0f0;
    border-radius: 12px;
    outline-style:auto;
    outline-color: #303030;
}

.contact-us-header {
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    color: #303030;
}

.contact-us-body {
    text-align: center;
}

.contact-us-inputs {
    text-align: center;
    border-radius: 24px;
    color:#303030;
    font-size: 20px;
    padding: 7px 2px;
    min-width: 450px;
    border: none;
    background-color: white;
    border-bottom: 1.5px solid #b9b9b9;
    transition-duration: 1s;
}

.contact-us-ul {
    font-size: 13px;
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 0;
    }
.contact-us-li {
    position: relative;
    padding-left: 10px;
    margin: 10px;
}
.logo-adjust {
    width: 250px;
    margin: 10px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    }
