* {
    overflow: scroll;
}

.consultant-page-container {
    
    margin-top:20px;
    margin-left: 150px;
    margin-right: 150px;
    outline-style: auto;
    outline-color: #303030;
    padding-left: 125px;
    padding-right: 125px;
    border-radius: 12px;
    background-color: #f0f0f0;
}

.consultant-body {
    padding: 15px;
}

.consultant-ul {
    color: #303030;
    font-size: 20px;
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;

}

.consultant-li {
    padding: 40px;
}

.consultant-name {
    padding-top: 20px;
    font-size: 35px;
    text-align: center;
    color:#303030;
}

.consultant-bios {
    text-align: center;
    padding: 20px;
    color:#303030;
}

.consultant-images {
    margin: auto;
    padding-top: 90px;
    align-items: center;
    text-align: center;
    background-color: white;
    width: 300px;
    border-radius: 100%;
    height: 300px;
    object-fit: cover;
}

.title {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    color: #303030;
    font-size: 35px;
}